@model List<MyPortfolio.Models.TblAdmins>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Layout dosyası burada kullanılacaksa yolunu belirtin
}

<h2>Profil Bilgileri</h2>

<table class="table">
    <tr>
        
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Password</td>
            <td><a href="@Url.Action("UpdateProfile", "Profile", new { id = item.AdminId })" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }

    <!-- Diğer alanlar buraya eklenebilir -->
</table>


